/* Component CSS import */
@import "components.css";

/* Police import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Default style */
:root {
    --font: 'Roboto', 'Arial';
    --red-color: #E63946;
    --white-color: #F5F5F5;
    --light-blue-color: #A8DADC;
    --blue-color: #457B9D;
    --drak-blue-color: #1D3557;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
}